.body{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgLogin img{
    width: 600px;
    height: 500px;
}

.container_login i{
    margin-left: -30px;
    cursor: pointer;
}

.container_login{
    width: 400px;
}

.container_login div input{
    width: 100%;
    padding: 6px 12px;
    border-radius: 0.375em;
    outline: none;
    border: 1px solid #DEE2E6;
}

.container_login input{
    box-shadow: none !important;
}

.container_login input:focus{
    border: #5486BA 1px solid;
}

.btnLogin{
    width: 100%;
    background-color: #5486BA !important;
    color: #ffffff !important;
    transition: 1s !important;
}

.btnLogin:hover{
    transition: 1s;
    background-color: #649dda !important;
}

@media screen and (max-width: 990px) {
    .imgLogin img{
        width: 450px;
        height: 350px !important;
    }

    .container_login{
        width: 300px; 
    }
}

@media screen and (max-width: 848px) {
    .imgLogin img{
        display: none;
    }

    .container_login h3, .p, input{
        width: 300px; 
        text-align: center;
    }

    .body{
        justify-content:center !important;
    }
}

@media screen and (max-width: 300px) {
    .imgLogin img{
        display: none;
    }

    .container_login h3, .p, input{
        width: 270px; 
        text-align: center;
    }

    .body{
        justify-content:center !important;
    }
}