.info_chat{
    width: 200px;
    min-height: 100vh;
    border-right: 1px solid #c2c1c1;
    padding: 8px;
}

.inputSearch{
    font-size: 11px;
}

.div_chat{
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.div_conversa{
    flex-grow: 1; 
    display: flex;
    align-items: end;
    justify-content:end;
    padding-right: 70px;
}

.conversa{
    max-height: 90vh;
    overflow-y:scroll;
}

.conversa::-webkit-scrollbar {
    display: none;
}

.input_mensagem{
    display: flex;
    align-items: end;
}

.btnCriarChat{
    background-color: #5486BA !important;
    border: none;
}

.container_mensagem{
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.container_mensagem label{
    font-weight: bold;
    color: #333;
}

.container_mensagem label span{
    font-style: italic;
}

.container_mensagem label .span_conversa{
    color: #007bff;
}